.tableContainer {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tableContainer h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.tableContainer button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.tableContainer table {
    width: 70%;
    border-collapse: collapse;
    margin: auto;
    margin-top: 20px;
}

.tableContainer th {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.tableContainer td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.tableContainer td[colspan="3"] {
    text-align: center;
    font-style: italic;
}

.tableContainer button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

.tableContainer button:nth-child(2) {
    background-color: #dc3545;
}
